<!DOCTYPE html>
<html th:lang="#{Language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="#{CreateSubtask}"></h1>
    <form method="post" th:action="${edit} ? '/tasks/' + ${id} + '/sub/edit/' + ${subId} : '/tasks/' + ${id} + '/sub/create'" th:object="${subtask}">
        <input type="hidden" name="id" id="id" th:if="${edit}" th:value="${id}"/>
        <input type="hidden" name="subId" id="subId" th:if="${edit}" th:value="${subId}"/>
        <table>
            <tr>
                <td>
                    <label for="name" th:text="#{Title}"></label>
                </td>
                <td>
                    <input id="name" name="name" type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description" th:text="#{Description}"></label>
                </td>
                <td>
                    <input id="description" name="description" type="text" th:field="*{description}">
                </td>
            </tr>
        </table>
        <input type="submit" th:value="#{Submit}">
    </form>
</body>
</html>
