<!DOCTYPE html>
<html th:lang="#{Language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${edit} ? #{EditTask} : #{NewTask}"></h1>
    <form method="post" th:action="${edit} ? '/tasks/edit/' + ${id} : '/tasks/create'" th:object="${task}">
        <input type="hidden" name="id" id="id" th:if="${edit}" th:value="${id}"/>
        <table>
            <tr>
                <td>
                    <label for="name" th:text="#{Title}"></label>
                </td>
                <td>
                    <input id="name" name="name" type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="description" th:text="#{Description}"></label>
                </td>
                <td>
                    <input id="description" name="description" type="text" th:field="*{description}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="date" th:text="#{DueDate}"></label>
                </td>
                <td>
                    <input id="date" name="date" type="text" th:field="*{date}">
                </td>
            </tr>
        </table>
        <input type="submit" th:value="#{Submit}">
    </form>
</body>
</html>
