<!DOCTYPE html>
<html th:lang="#{Language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <button onclick="location.href='?lang=en'">English</button>
        <button onclick="location.href='?lang=nl'">Nederlands</button>
    </nav>
</header>
    <h1 th:text="#{TaskDetail}"></h1>
    <table th:unless="${task == null}" th:object="${task}">
        <tr>
            <td th:text="#{Title}"></td>
            <td th:text="*{name}"/>
        </tr>
        <tr>
            <td th:text="#{Description}"></td>
            <td th:text="*{description}"/>
        </tr>
        <tr>
            <td th:text="#{DueDate}"></td>
            <td th:text="*{date}"/>
        </tr>
        <tr th:unless="*{subTasks.isEmpty()}">
            <td th:text="#{Subtasks}"></td>
            <td>
                <table>
                    <tr th:each="subtask: *{subTasks}">
                        <td th:text="${subtask.name}"/>
                        <td th:text="${subtask.description}"/>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p th:if="${task == null}" th:text="#{TaskNotFound}"></p>
</body>
</html>
