<!DOCTYPE html>
<html th:lang="#{Language}" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <button onclick="location.href='?lang=en'">English</button>
        <button onclick="location.href='?lang=nl'">Nederlands</button>
    </nav>
</header>
    <h1 th:text="#{Tasks}"></h1>
    <ul th:unless="${tasks.isEmpty()}">
        <li th:each="task: ${tasks}">
            <a th:href="'/tasks/' + ${task.id}" th:text="${task.name} + #{Due} + ${task.date}"></a>
        </li>
    </ul>
    <p th:if="${tasks.isEmpty()}" th:text="#{NoTasks}"></p>
</body>
</html>
